.search_input {
    background-image: url('/assets/img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;    
  }

  .m-b-xs {
     margin-bottom: 8px;
  }